<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<app-header></app-header>

<div class="container">

<h1>List of restauraurants</h1>
<button type="button" class="btn btn-success create" (click)="createRestaurant()">Create</button>
<br/>
<br/>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Social Reason</th>
        <th scope="col">Type Of Restaurant</th>
        <th scope="col">Opening Time</th>
        <th scope="col">Closing Time</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let rest of allRestaurants; let i= index" (click)="viewRestaurant(rest.idRestaurant)">
        <td>{{i + 1}}</td>
        <td>{{rest.commercialName}}</td>
        <td>{{rest.locationCity}}</td>
        <td>{{rest.socialReason}}</td>
        <td *ngIf="rest.typeOfRestaurant == 1">Vegan</td>
        <td *ngIf="rest.typeOfRestaurant == 2">Vegetarian</td>
        <td *ngIf="rest.typeOfRestaurant == 3">Read Meats</td>
        <td *ngIf="rest.typeOfRestaurant == 4">Birds</td>
        <td>{{rest.openingTime}}</td>
        <td>{{rest.closingTime}}</td>
        <td>  <button type="button" class="btn btn-warning edit" (click)="editRestaurant(rest.idRestaurant)">
          Edit
        </button>
      </td>
      </tr>
    </tbody>
  </table>
  <br/>
  
</div>


<app-footer></app-footer>

