h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 10px 0; 
    color:rgb(176, 166, 237);
}

th{
    font-family: 'Quicksand', sans-serif;
}

td{
    font-family: 'Quicksand', sans-serif;
}

