body{
	text-align: center;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;

}
a{
  text-decoration: none;
}
header, form{
	padding: 4em 10%;
}


.form-group{
	margin-bottom: 20px;
}
h2.heading{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
.controls{
	text-align: left;
	position: relative;
	input[type="text"],
	input[type="email"],
	input[type="tel"],
    input[type="number"],
	textarea,
	button,
	select{
		padding: 12px;
		font-size: 14px;
		border: 1px solid;
		width: 100%;
		margin-bottom: 18px;
		color: #888;
		font-family: 'Lato', 'sans-serif';
		font-size: 16px;
		font-weight: 300;
     background-color: #fff;
		border-color: rgb(117, 168, 168);
	}
	.fa-sort{
		position:absolute;
		right: 10px;
		top: 17px;
		color: #999;
	}
	}
	textarea{
		resize: none;
		height: 200px;
	}
	button{
		cursor: pointer;
		border: none;
		color: #fff;
		padding: 12px 0;
	}

    .bottonSend:hover{
        background: rgb(118, 165, 133) !important;
        color: rgb(254, 254, 254) !important;
    }




