.container{
    background-color: white;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 10px, 0;
    
}
th{
    font-family: 'Quicksand', sans-serif
}

tr:hover{
    cursor: pointer;
    background-color: rgb(210, 205, 205);
}

.create{
    width: 100%;
}


